body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.0595fr 0.05fr 0.79fr 0.05fr 0.05fr;
    width: 100vw;
    height: 100vh;
    border: 2px solid rgb(5, 207, 247);
    border-radius: 30px;
    color: white;
    background-color: rgb(35, 33, 33);
    outline: 2px dashed rgb(5, 207, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    border: 1px solid slategrey;
    width: 100%;
    height: auto;
}

span {
    font-size: 2vw;
}

[class^='grid'] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid rgb(5, 207, 247);
}

.grid-Logo {
    grid-row: 1/2;
    grid-column: 1/4;
    font-weight: 700;
    font-size: 4vw;
}

.grid-nameInput {
    grid-row: 2/3;
    grid-column: 1/4;
}

.grid-talk {
    grid-row: 3/4;
    grid-column: 1/4;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.grid-talk > * {
    margin: 0;
    padding: 0px 5px;
}

.talkForm {
    display: contents;
}

.grid-titlePart {
    grid-row: 4/5;
    grid-column: 1/4;
}

.grid-summaryPart {
    grid-row: 5/6;
    grid-column: 1/4;
}
